<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Brand -->

    <a class="navbar-brand" routerLink="/"> Angular Todo List </a>

    <!-- Mobile Toggle -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- Home -->

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>

        <!-- My Todos -->

        <li class="nav-item">
          <a class="nav-link" routerLink="/my-todos" routerLinkActive="active">
            My-Todos
          </a>
        </li>

        <!-- Username Dropdown - Logged In -->

        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
          <a
            class="nav-link dropdown-toggle"
            href="javascript:void(0)"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ authService.getUser()?.name }}
          </a>

          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li>
              <button
                type="button"
                class="dropdown-item text-danger"
                (click)="logout()"
              >
                Logout
              </button>
            </li>
          </ul>
        </li>

        <!-- Create Account - Logged Out -->

        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">
            Create Account
          </a>
        </li>

        <!-- Login - Logged Out -->

        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
