<div class="card mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h5>{{ todo.title }}</h5>

        <span
          class="badge me-2"
          [ngClass]="{
            'bg-success': todo.priority === 'Low',
            'bg-warning': todo.priority === 'Medium',
            'bg-danger': todo.priority === 'High',
          }"
        >
          {{ todo.priority }}
        </span>

        <span
          class="badge me-2"
          [ngClass]="todo.completed ? 'bg-success' : 'bg-secondary'"
        >
          {{ todo.completed ? "Completed" : "Pending" }}
        </span>

        <span class="badge bg-primary"> Due: {{ todo.dueDate }} </span>
      </div>

      <div class="btn-grp">
        <button
          type="button"
          class="btn btn-link p-0 me-4"
          [ngClass]="todo.completed ? 'text-success' : 'text-secondary'"
          (click)="toggleStatus()"
          [title]="todo.completed ? 'Mark as Pending' : 'Mark as Completed'"
        >
          <i
            [ngClass]="
              todo.completed
                ? 'fa-solid fa-circle-check fa-lg'
                : 'fa-regular fa-circle fa-lg'
            "
          ></i>
        </button>

        <button class="btn btn-danger btn-sm" (click)="deleteTodo()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
