<div class="card mt-3">

  <div class="card-body">

    <div class="d-flex justify-content-between">

      <div>

        <h5
          [class.text-decoration-line-through]="
            task.status === 'COMPLETED'
          "
        >
          {{ task.title }}
        </h5>


        <!-- Description -->
        <p
          class="text-muted mb-2"
          *ngIf="task.description"
        >
          {{ task.description }}
        </p>


        <!-- Priority -->
        <span
          class="badge me-2"
          [ngClass]="{
            'bg-success': task.priority === 'LOW',
            'bg-warning text-dark': task.priority === 'MEDIUM',
            'bg-danger': task.priority === 'HIGH',
            'bg-dark': task.priority === 'URGENT'
          }"
        >
          {{ task.priority }}
        </span>


        <!-- Status -->
        <span
          class="badge me-2"
          [ngClass]="{
            'bg-secondary': task.status === 'TODO',
            'bg-primary': task.status === 'IN_PROGRESS',
            'bg-success': task.status === 'COMPLETED'
          }"
        >
          {{
            task.status === 'TODO'
              ? 'To Do'
              : task.status === 'IN_PROGRESS'
                ? 'In Progress'
                : 'Completed'
          }}
        </span>


        <!-- Category -->
        <span class="badge bg-info text-dark me-2">
          {{ task.category }}
        </span>


        <!-- Due Date -->
        <span
          class="badge bg-primary"
          *ngIf="task.dueDate"
        >
          Due: {{ task.dueDate | date:'mediumDate' }}
        </span>


        <!-- Tags -->
        <div
          class="mt-2"
          *ngIf="task.tags?.length"
        >

          <span
            class="badge bg-light text-dark border me-1"
            *ngFor="let tag of task.tags"
          >
            #{{ tag }}
          </span>

        </div>

      </div>


      <!-- Actions -->
      <div class="btn-grp">

        <button
          type="button"
          class="btn btn-link p-0 me-4"
          [ngClass]="
            task.status === 'COMPLETED'
              ? 'text-success'
              : 'text-secondary'
          "
          (click)="toggleStatus()"
          [title]="
            task.status === 'COMPLETED'
              ? 'Mark as To Do'
              : 'Mark as Completed'
          "
        >

          <i
            [ngClass]="
              task.status === 'COMPLETED'
                ? 'fa-solid fa-circle-check fa-lg'
                : 'fa-regular fa-circle fa-lg'
            "
          ></i>

        </button>


        <button
          class="btn btn-danger btn-sm"
          (click)="deleteTask()"
        >
          Delete
        </button>

      </div>

    </div>

  </div>

</div>